.container {
  display: grid;
  grid-template: 1fr 3fr 1fr / 1fr 3fr 1fr;
  background-color: brown;
  gap: 5px 5px;
}

.header-container {
  background-color: blue;
  color: white;
  grid-area: 1 / 1 / 1 / 4;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 5px 5px;
}

nav {
  display: flex;
  flex-direction: row;
  width: 33%;
  justify-content: space-between;
}

nav a {
  color: white;
}

.content-container {
  background-color: red;
  display: grid;
}

.middle-content {
  background-color: burlywood;
  padding: 5px 5px;
}

.sidebarone {
  background-color: aqua;
  grid-area: 2 / 1 / 2 / 2;
  padding: 5px 5px;
}

.sidebartwo {
  background-color: chartreuse;
  padding: 5px 5px;
}

footer {
  background-color: blueviolet;
  color: white;
  grid-area: 3 / 1 / 3 / 4;
  padding: 5px 5px;
}

footer h3 {
  margin: 0;
}
